<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kashark.crazykashark.mapper.StaffMapper">
    <sql id="selectStaff">
        SELECT sta.`id`,
               sta.`staff_id`,
               sta.`staff_name`,
               sta.`authorization`,
               sta.`account`,
               sta.`password`,
               sta.`avatar`,
               sta.`telephone`
        FROM `staff` sta
    </sql>

    <select resultMap="staffResultMap" id="getStaff"
            resultType="com.kashark.crazykashark.dto.StaffDTO">
        <include refid="selectStaff"/>
        WHERE sta.`deleted` = 0
        ORDER BY sta.`staff_id` ASC
        LIMIT #{start}, #{length}
    </select>

    <select resultMap="staffResultMap" id="getStaffById"
            resultType="com.kashark.crazykashark.dto.StaffDTO">
        <include refid="selectStaff"/>
        WHERE sta.`deleted` = 0
        AND sta.`id` = #{id}
    </select>


    <select resultMap="staffResultMap" id="getStaffByStaffId"
            resultType="com.kashark.crazykashark.dto.StaffDTO">
        <include refid="selectStaff"/>
        WHERE sta.`deleted` = 0
        AND sta.`staff_id` = #{staff_id}
    </select>

    <select resultMap="staffResultMap" id="searchStaff"
            resultType="com.kashark.crazykashark.dto.StaffDTO">
        <include refid="selectStaff"/>
        <where>
            <if test="keywords != null">
                <foreach collection="keywords" item="keyword">
                    AND (
                    sta.`staff_name` LIKE "%"#{keyword}"%"
                    OR sta.`staff_id` LIKE "%"#{keyword}"%"
                    )
                </foreach>
            </if>
            AND sta.`deleted` = 0
        </where>
        ORDER BY sta.`staff_id` ASC
        LIMIT #{start}, #{length}
    </select>

    <resultMap id="staffResultMap" type="com.kashark.crazykashark.dto.StaffDTO">
        <id column="id" property="id"/>
        <result column="staffId" property="staff_id"/>
        <result column="staffName" property="staff_name"/>
        <result column="authorization" property="authorization"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="telephone" property="telephone"/>
    </resultMap>
</mapper>