<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kashark.crazykashark.mapper.StudentPlanMapper">
    <sql id="selectStudentPlan">
        SELECT splan.`id`,
               splan.`plan_chart_id`,
               splan.`student_id`,
               splan.`core_teacher_id`,
               splan.`batch`,
               splan.`comment`
        FROM `student_plan` splan
    </sql>

    <select resultMap="studentPlanResultMap" id="getStudentPlan"
            resultType="com.kashark.crazykashark.entity.StudentPlan">
        <include refid="selectStudentPlan"/>
        WHERE splan.`deleted` = 0
    </select>

    <select resultMap="studentPlanResultMap" id="getStudentPlanById"
            resultType="com.kashark.crazykashark.entity.StudentPlan">
        <include refid="selectStudentPlan"/>
        WHERE splan.`deleted` = 0
        AND splan.`id` = #{id}
    </select>

    <select resultMap="studentPlanResultMap" id="getStudentPlanByPlanChartId"
            resultType="com.kashark.crazykashark.entity.StudentPlan">
        <include refid="selectStudentPlan"/>
        WHERE splan.`deleted` = 0
        AND splan.`plan_chart_id` = #{planChartId}
    </select>

    <select resultMap="studentPlanResultMap" id="getStudentPlanByStudentId"
            resultType="com.kashark.crazykashark.entity.StudentPlan">
        <include refid="selectStudentPlan"/>
        WHERE splan.`deleted` = 0
        AND splan.`student_id` = #{studentId}
    </select>

    <select resultMap="studentPlanResultMap" id="getStudentPlanByCoreTeacherId"
            resultType="com.kashark.crazykashark.entity.StudentPlan">
        <include refid="selectStudentPlan"/>
        WHERE splan.`deleted` = 0
        AND splan.`core_teacher_id` = #{coreTeacherId}
    </select>

    <select resultMap="studentPlanResultMap" id="getStudentPlanByBatch"
            resultType="com.kashark.crazykashark.entity.StudentPlan">
        <include refid="selectStudentPlan"/>
        WHERE splan.`deleted` = 0
        AND splan.`batch` = #{batch}
    </select>

    <select resultMap="studentPlanResultMap" id="getStudentPlanInAscCreateTime"
            resultType="com.kashark.crazykashark.entity.StudentPlan">
        <include refid="selectStudentPlan"/>
        WHERE splan.`deleted` = 0
        ORDER BY splan.`create_time` ASC
        LIMIT #{start}, #{length}
    </select>

    <select resultMap="studentPlanResultMap" id="getStudentPlanInDescCreateTime"
            resultType="com.kashark.crazykashark.entity.StudentPlan">
        <include refid="selectStudentPlan"/>
        WHERE splan.`deleted` = 0
        ORDER BY splan.`creat_time` DESC
        LIMIT #{start}, #{length}
    </select>

    <select resultMap="studentPlanResultMap" id="searchStudentPlan"
            resultType="com.kashark.crazykashark.entity.StudentPlan">
        <include refid="selectStudentPlan"/>
        <where>
            <if test="keywords != null">
                <foreach collection="keywords" item="keyword">
                    AND (
                    splan.`student_name` LIKE "%"#{keyword}"%"
                    OR splan.`student_id` LIKE "%"#{keyword}"%"
                    )
                </foreach>
            </if>
            AND splan.`deleted` = 0
        </where>
        ORDER BY splan.`plan_chart_id` ASC
        LIMIT #{start}, #{length}
    </select>

    <resultMap id="studentPlanResultMap" type="com.kashark.crazykashark.entity.StudentPlan">
        <id column="id" property="id"/>
        <result column="planChartId" property="plan_chart_id"/>
        <result column="studentId" property="student_id"/>
        <result column="coreTeacherId" property="core_teacher_id"/>
        <result column="batch" property="batch"/>
        <result column="comment" property="comment"/>
    </resultMap>
</mapper>